{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Edit Produit</h1>

        <div class="col-md-6 offset-md-3">
            {{ form_start(form, {'attr': {'class': 'form'}}) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.prix) }}
                    {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button class="btn btn-success mt-3">Save</button>
            {{ form_end(form) }}

            <div class="mt-3 text-center">
                <a href="{{ path('produit_index') }}" class="btn btn-outline-secondary">Back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
