{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Users</h1>

        <!-- Search Input -->
        <div class="mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search for users...">
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="userTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Login</th>
                        <th scope="col">Password Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.login }}</td>
                        <td>
                            {% if user.password is not empty %}
                                <span class="text-success">Set</span>
                            {% else %}
                                <span class="text-danger">Not Set</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-outline-info btn-sm">Show</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-warning btn-sm">Edit</a>
                            <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" style="display:inline-block">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('user_new') }}" class="btn btn-success btn-lg">Create new</a>
        </div>
    </div>

    {# jQuery Search Functionality #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#userTable tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
